CompileFlags:
  Add:
    - "-std=c++17"
    - "-isysroot/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
    - "-I/Users/samharrison/Documents/JUCE/modules"
    - "-I/Users/samharrison/Documents/GitHub/delay/JuceLibraryCode"
    - "-DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1"
    - "-DJUCE_STRICT_REFCOUNTEDPOINTER=1"
    - "-DJUCE_VST3_CAN_REPLACE_VST2=0"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_basics=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_devices=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_formats=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_plugin_client=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_processors=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_processors_headless=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_utils=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_core=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_data_structures=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_dsp=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_events=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_graphics=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_gui_basics=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_gui_extra=1"
